.App {
  text-align: center;
}

.rocket{
  align-items: center;
  margin-top: 8em;
  width: 12em;
  margin-bottom: 5em;
}
.rocket {
  transition: transform 1.7s ease; 
}
.rocket.hovered {
  transform: translateY(-600px); 
}
.hover-text {
  align-content: center;
  transition: transform 2.7s ease; 
  color: white;
  font-size: 34px;
  padding-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.text{
  align-content: center;
  color: white;
  font-size: 30px;
  padding-bottom: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.button {
  
  padding: 10px 70px; 

  margin-left: -180px;
  font-size: 16px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  cursor: pointer; 
  top: 70%;
  left: 80%;
 
  text-align: center;
}
.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



